* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: var(--azul-pet);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

header {
    width: 100%;
    height: 60px;
    position: fixed;
    padding: 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    background: linear-gradient(rgba(0,0,0,.5) 50%, rgba(0,0,0,0) 100%);
    color: white;

    z-index: 999;
}

header h1 {
    color: white;
    font-weight: 900;
    padding: 5px;
    transition: .5s;
    border-radius: 40px;
}

.navbar {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0 20px;


}

.navbar a {
    color: #f7f7f7;
    background-color: transparent;
    transition: .5s;
    font-weight: 600;
}

.navbar a:hover, header h1:hover {
    color: var(--azul-pet);
    background-color: white;
    padding: 10px;
    border-radius: 40px;
}

.nodecoration {

    text-decoration: none;
}

main {

    width: 100%;
    min-height: 105vh;

    background:
        linear-gradient(170deg, var(--azul-pet) 10%, rgba(0, 0, 0, 0)30%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(0deg, var(--azul-pet) 5%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(70deg, var(--azul-pet) 5%, rgba(0, 0, 0, 0)30%, rgba(0, 0, 0, 0) 100%),
        url(assets/galaxy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: inset 0 -200px 100px var(--azul-pet);

    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;

}

main .numeracao {

    width: 100px;
    height: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 150px;

}

h1.num {
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: white;
    font-size: 60px;
    text-align: center;
    outline: solid white 4px;
}

.apresentation {
    background-color: rgba(255, 255, 255, 0.596);
    color: #303030;

    border: none;
    border-radius: 40px;
    border-top-left-radius: 0;

    width: 600px;
    max-width: 80%;
    min-width: 20%;
    min-height: 500px;

    margin: auto auto auto auto;
    padding-left: 60px;
    padding-top: 60px;
    padding-right: 60px;

    text-align: justify;


    transition: .5s;
}

.apresentation:hover {
    background-color: white;
}


.apresentation h3 {
    color: var(--azul-pet);
}

.apresentation a {
    color: var(--azul-pet);
}

.photo-box {
    padding: 40px;
    height: 100px;
    width: 100px;

    background-image: url("assets/foto-jesse-salviano.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0% left 50%;
    border-radius: 100px;
    position: absolute;
    margin: -90px auto auto -80px;
    transition: .5s;
}

.photo-box:hover {
    transition: .5s;
    height: 200px;
    width: 100px;
}

.cases {

    width: 90%;
    min-height: 600px;
    display: flex;
    padding: 50px;
    margin: 0;
    color: #303030;
    border-radius: 40px;
    transition: .5s;
}


.white-pane {
    transition: .5s;
    border-radius: 40px;

}

.white-pane:hover {
    background-color: white;
    color: #303030;
}

:root {
    --azul-pet: #00141d;
}